<div id="buttonGroup">
    @(Html.DevExtreme().Button()
        .Icon("export")
        .Text("Excel")
        )
    @(Html.DevExtreme().Button()
        .Icon("export")
        .Text("PDF")
        )
</div>
